

{{!-- {{#if logged_in}}
<div class="container" style="width: 18rem;">
{{#each events as |event|}}
{{> view-details}}
{{/each}}
  <ul class="list-group list-group-flush">
    <li class={{event}}></li>
    <li class={{event}}></li>
    <li class={{event}}></li>
    <a href="/" type ="submit" style="background-color: darkorange;">return home</a>
  </ul>
</div>
{{else}}
<p> Please  <a href="/login">  LogIn to view events </a></p>
{{/if}} --}}
<div class="view-title" style="margin-bottom: 0;">
<h5 style="font-size: 2rem;">Explore Events</h5>
</div>
{{#if logged_in}}
<div class="card-body card-body-3 card" style="margin-top: 0;">
   <ol>{{#each events as |event|}}
{{> view-details}}
{{/each}}
   </ol> 
  <div class="card-body">
    
  <ul class="list-group list-group-flush">
    <li class={{event}}></li>
    <li class={{event}}></li>
    <li class={{event}}></li>
  </ul>
  <div class="card-body">
    <a href="/" class="card-link btn btn-primary">Return Home</a>
    <a href="/create" class="card-link btn btn-primary">Create event</a>
  </div>
</div>
{{else}}
<div class="login-alert">
<p> Please  <a href="/login">  LogIn to view events </a></p>
</div>
{{/if}}
  </div>